#form {
    display: flex;
    flex-direction: column;
}

#formCard {
    min-height: 50vh;
    min-width: 30vw;
    padding: 2em;
    text-align: center;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

#info {
    padding: 2em;
    padding-left: 3em;
}

#submitButton {
    width:fit-content;
}

#submitDiv {
    display: flex;
    justify-content: center;
}